.hamburger {
  box-sizing:border-box;

}
.checkbox-toggle {
	
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.checkbox-toggle:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.checkbox-toggle:checked + .hamburger > div:before,
.checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.checkbox-toggle:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: .75s;
          transition-duration: .75s;
}
.checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}
.checkbox-toggle:hover + .hamburger {
/*  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);*/
}
.checkbox-toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.hamburger {
	
/*  position: absolute;*/
  top: 0;
  left: 0;
/*  z-index: 3333;*/
  width: 50px;
  height: 50px;
/*  padding: .5em 1em;*/
/*  background: rgba(0, 196, 53, 0.75);*/
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hamburger > div {
  position: relative; 
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 6px;
border-radius: 0px;
  background:#92FF00;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hamburger > div:before,
.hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 0;
  width: 100%;
    height: 6px;
border-radius: 0px;
  background: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hamburger > div:after {
  top: 15px;
}

