$migreen: #91FF00 !global;
$hcolor: #333333 !global;
$paracolor: #333333;
$basecolor:#27AE60 !global;
$attentionbg: hsl(145,77,32) !global;
$white: #fff;
$gray35: #A6A6A6; 
$gray80:#333333;
$gray73:#A6A6A6;
$gray60:#666666;
$gray69:#4F4F4F;
$gray20:#CCCCCC;
$gray10:#E5E5E5;
$violet:#6E72B6;
$malina:#E85163;  

$basefont: latoregular, Trebuchet MS, Lucida Console, Geneva;
$italicfont:latoitalic, Comic Sans MS;


//Menu
$menu-height: 73px;

//вертикальные отступы для элементов на мобильном
$mobile-padd: 20px;
$padd-btn:10px;